.header-top .navbar-header {
    background-color: #64d4e4
}

.side-nav>li:after {
    background-color: #64d4e4;
}

.side-nav>li .sub-menu.list-style-circle>ul>li>a:hover:before {
    background-color: #64d4e4;
}

.side-nav>li .sub-menu.list-style-circle>ul>li.opened>a:before,
.side-nav>li .sub-menu.list-style-circle>ul>li.active>a:before {
    background-color: #64d4e4;
}

.side-nav .magic-line {
    background: #64d4e4
}

.top-navigation .navbar-nav>li.active>a:before {
    background-color: #64d4e4
}

.top-navigation .navbar-nav.magic-nav .magic-line {
    background: #64d4e4
}

a {
    color: #64d4e4
}

a:hover,
a:focus {
    color: #64d4e4
}

.panel-main>.panel-heading {
    background-color: #64d4e4;
    border-color: #82dce9;
    color: #fff
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #64d4e4
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #64d4e4;
    border-color: #64d4e4
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #64d4e4;
    border-color: #64d4e4
}

.list-group-item.active>.badge,
.nav-pills>.active>a>.badge {
    color: #64d4e4
}

.tooltip-primary .tooltip-inner {
    background-color: #64d4e4
}

.tooltip-primary.top .tooltip-arrow {
    border-top-color: #64d4e4
}

.tooltip-primary.bottom .tooltip-arrow {
    border-bottom-color: #64d4e4
}

.tooltip-primary.left .tooltip-arrow {
    border-left-color: #64d4e4
}

.tooltip-primary.right .tooltip-arrow {
    border-right-color: #64d4e4
}

.nav-tabs.tabs-dark>li:not(.active)>a:hover,
.nav-tabs.tabs-dark>li:not(.active)>a:focus {
    background-color: #64d4e4
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #64d4e4
}

.email-wrapper .email-list .email-items .email-item.opened:before {
    background-color: #64d4e4
}

.task-id {
    background-color: #64d4e4;
}

.task-id:hover,
.task-id:focus {
    color: #fff;
    background-color: #64d4e4;
}

.chat-friend-list>li.active {
    background-color: #64d4e4;
    color: #fff
}

.chat-item.chat-main .chat-bubble {
    background-color: #64d4e4;
    border-color: #64d4e4;
    color: #fff
}

.chat-item.chat-main .chat-bubble:before,
.chat-item.chat-main .chat-bubble:after {
    border-right-color: #64d4e4
}

.chat-item.chat-main.right .chat-bubble:before,
.chat-item.chat-main.right .chat-bubble:after {
    border-left-color: #64d4e4
}

.event-box.bg-main:before,
.event-box.bg-main:after {
    border-left-color: #64d4e4
}

.event-icon {
    border: 1px solid #64d4e4;
}

.event-active .event-icon span {
    background-color: #64d4e4
}

.event-right .event-box.bg-info:before,
.event-right .event-box.bg-info:after {
    border-right-color: #64d4e4
}

.galleries .gallery-item.gallery-selected .thumbnail-chk span {
    background-color: #fff;
    color: #64d4e4;
}

.galleries .gallery-item.gallery-selected .thumbnail-caption {
    background-color: rgba(100, 212, 228, 0.7)
}

.portfolio-item:hover .portfolio-caption {
    color: #fff;
    background-color: #64d4e4
}

.filter-tab {
    background-color: #64d4e4;
}

.logo-thumbnail {
    background-color: #64d4e4;
}

.people-list>li.others {
    background-color: #64d4e4;
}

.activity-widget>li>a .activity-type {
    border: 1px solid #64d4e4;
    color: #64d4e4;
}

.fc-event {
    background-color: #64d4e4;
    border-color: #64d4e4
}

.current-day {
    background: #64d4e4;
    color: #fff
}

.current-day:hover {
    background: #64d4e4 !important
}

.form-control.input-hover-border:focus {
    border-color: #64d4e4
}

.form-control.input-hover-border.input-hover-2x:focus {
    box-shadow: 0 0 0 1px #64d4e4 inset;
    -webkit-box-shadow: 0 0 0 1px #64d4e4 inset
}

.btn-main {
    background-color: #64d4e4;
    border-color: #57d0e2;
    color: #fff
}

.btn-main.active,
.btn-main.focus,
.btn-main:active,
.btn-main:focus,
.btn-main:hover {
    background-color: #4ecee0;
    border-color: #64d4e4;
    color: #fff
}

.btn-main.btn-hollow:hover {
    color: #64d4e4
}

.btn-link {
    color: #64d4e4
}

.btn-link:hover,
.btn-link:focus {
    color: #64d4e4
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    color: #64d4e4
}

.custom-radio input[type=radio]:checked+label:before {
    border-color: #64d4e4
}

.custom-radio label:after {
    background-color: #64d4e4;
}

.switch-toggle input:checked+span {
    box-shadow: inset 0 0 0 .73em #64d4e4
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #64d4e4
}

.slider-selection {
    background: #64d4e4
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #64d4e4
}

.bootstrap-datetimepicker-widget table td span.active {
    background-color: #64d4e4;
}

.bootstrap-tagsinput .tag {
    background-color: #64d4e4
}

.note-popover .popover .popover-content .dropdown-menu.note-check li a i,
.note-toolbar .dropdown-menu.note-check li a i {
    color: #64d4e4
}

.text-main {
    color: #64d4e4
}

.bg-main {
    background-color: #64d4e4;
    color: #fff
}